{% extends 'core/base.html' %}
{% load static %}

{% block stylesheet %}
    <link href="{% static 'core/css/cambiar_password.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-6">
            <div class="form-card p-4 shadow-lg">
                <h1 class="tituloCambio mb-4">Cambiar Contraseña</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="text-center mt-3">
                        <input type="submit" class="btn btn-primary px-4" value="Cambiar contraseña">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
