{% extends 'core/base.html' %}


{% block content %}
<div class="container mt-4">
    <h3>
        {% if es_admin %}
            Historial de Ventas de la Empresa 
        {% else %}
            Mis Compras 
        {% endif %}
    </h3>
    <table class="table table-bordered table-striped mt-3">
        <thead class="table-primary">
            <tr>
                <th>Nro Fac</th>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Descripción</th>
                <th>Monto</th>
                <th>Nro GD</th>
                <th>Estado GD</th>
                <th>Nro SS</th>
                <th>Estado SS</th>
            </tr>
        </thead>
        <tbody>
            {% for f in facturas %}
            <tr>
                <td>{{ f.nrofac }}</td>
                <td>{{ f.cliente }}</td>
                <td>{{ f.fecha }}</td>
                <td>{{ f.descripcion }}</td>
                <td>{{ f.monto }}</td>
                <td>{{ f.nroGD }}</td>
                <td>{{ f.estadoGD }}</td>
                <td>{{ f.nroSS }}</td>
                <td>{{ f.estadoSS }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
